<HTML>
<HEAD>
<TITLE>W&ocirc;banaki Woman's Clothing from 1770</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META NAME="description" content="Explore artifacts from our museum and historic manuscripts from our library that reveal the history of New England.">
<META NAME="keywords" content= "New England History, Massachusetts, American History, Social Studies Curricula, antiques, historic artifacts & manuscripts, Deerfield, Pioneer Valley">
<SCRIPT language="JavaScript" type="text/JavaScript"></SCRIPT>
<SCRIPT language="JavaScript" src="../../common/amcen_scripts.js"></SCRIPT>
<LINK href="../../common/am_cen.css" rel="stylesheet" type="text/css">

  <LINK href="../../common/am_cen_html5_dressup.css" rel="stylesheet" type="text/css">
  <style type="text/css" media="screen">
    .hotspoton {
      fill: #CC3333;
      fill-opacity: 0.35;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

</head>

<BODY link="#333366" vlink="#666699" alink="#993300" background="../../images/bkgnd_cloth.gif">
<A name="top"></A>
<TABLE width="95%" border="0" cellspacing="0" cellpadding="4">
  <TR valign="top">
    <TD><!-- #BeginLibraryItem "/Library/icon_navbar.lbi" --><a href="../../home.html"><img src="../../images/nav_home.gif" width="75" height="47" border="0" alt="icon for Home page"></a><br> 
<a href="../../kids_home.html"><img src="../../images/nav_kidshome.gif" width="75" height="47" border="0" alt="icon for Kid's Home page"></a><br> 
<a href="../../collection/index.html"><img src="../../images/nav_collection.gif" width="75" height="55" border="0" alt="icon for Digital Collection"></a><br> 
<a href="../index.html"><img src="../../images/nav_activities.gif" width="75" height="57" border="0" alt="icon for Activities"></a><br>
<a href="../../turns/index.jsp"><img src="../../images/nav_turns.gif" width="75" height="57" border="0" alt="icon for Turns Exhibit"></a><br> 
<a href="../../classroom/index.html"><img src="../../images/nav_classroom.gif" width="75" height="58" border="0" alt="icon for In the Classroom"></a><br>
<a href="../../chronology/make_chronology.jsp"><img src="../../images/nav_chron.gif" width="75" height="48" border="0" alt="icon for Chronologies"></a><br>
<a href="../../mycollection/show.do"><img src="../../images/nav_mycollection.gif" width="75" height="52" border="0" alt="icon for My Collection"></a><br>
<!-- #EndLibraryItem --><BR><!-- #BeginLibraryItem "/Library/searchbox.lbi" --><div class="searchbox">
      <b>Site Search</b><br>
      <form method="GET" action="../../search/search.cgi">
        <input type="text" name="zoom_query" size="8">
        <br><br>
        <input type="submit" value="Go">
      </form>
      <a href="../../search/search.cgi">Advanced Search</a>
</div><!-- #EndLibraryItem --></TD>
      <TD valign="top">
				<SPAN class="small"><A href="../index.html"><STRONG>Things To Do</STRONG></A><BR>
		      <A href="index.html">Dress Up</A> | <A href="../oralhistory/index.html">1st Person</A> | 
					<A href="../afram/index.html">African American Map</A> | <A href="../readthis/index.jsp">Now Read This</A> | 
					<A href="../magic_lens/index.html">Magic Lens</A> | <A href="../rotate/index.html">In the Round</A> | 
					<A href="../tools/index.html">Tool Videos</A> | <A href="../architecture/index.html">Architecture</A> |
		      <A href="../postcards/index.html">e-Postcards</A> | <A href="../../chronology/make_chronology.jsp">Chronologies</A> | 
					<A href="../turns_activities/index.html">Turns  Activities</A></SPAN><BR>
      <TABLE border="1" cellspacing="0" cellpadding="15" bgcolor="#FFFFFF" bordercolor="#CCCC99">
        <TR>
          <TD>
            <H1>W&ocirc;banaki Women's Clothing from 1770</H1>
            <P>By 1770, some W&ocirc;banaki people, especially those
              in French or English towns, were beginning to live in
              a manner very similar to that of the French and English.
              They often wore the same style of clothes, lived in the
              same kinds of houses, had many of the same types of possessions,
              and by outward appearance, did not appear to be dramatically
              different. Most Native people, however, kept some elements
              of tradition by wearing moccasins and leggings, decorating
              their clothing with silver ornaments, or keeping their
              hair long. Some chose to keep traditional ways of life,
              and acquire just a few European items. Such is the case
              for the woman described here, who wears a few items of
            clothing from the French Canadian people.</P>
            <p>W&ocirc;banaki people did not have special clothing
              for sleeping. They slept in what seemed most suited for
              the season. In the winter this would mean wearing several
              layers to bed and in the hot weather one might sleep
              without clothing.</p>
            <p>W&ocirc;banaki people believed it was a good idea to protect
              sensitive areas of the body, such as joints, the neck,
              ears and face, with jewelry, garters, and tattoos. By
              these means, they believed that dangerous energy or spirits
              could not enter their bodies. Jewelry with complicated
              patterns, reflective surfaces, and dangling and jangling
              pieces such as bells or metal cones, all helped to confuse
              harmful forces. Porcupine quill embroidery, beading,
              fringe, and ribbons might be added to the edges of clothing,
              both to offer protection and to encourage connections
              with desirable plants and animals. For instance, the
              hem of a skirt might be decorated with ribbon, or the
              flaps on a pair of moccasins might be decorated with
              beads or porcupine quill embroidery.</p>
            <p>Among the numerous items available through trade in
              the 1770s were wool and linen cloth, ready-made shirts
              and coats, knitted wool hats and mittens, felted wool
              hats, glass beads, silver jewelry, brass kettles, paint
              pigments such as vermillion, and metal axe and spear
              heads and knife blades. Native American people in New
              England would trade with the French in New France or
              the English in the American colonies. Items they received
              might come from England, France, Holland, or as far away
              as India.</p>
            <P>Navigate to each layer of this activity by clicking on the "Next" and "Previous" buttons. Using your cursor, roll over each image to learn about the unfamiliar clothing.</P>
            
 						<p><a href="notflash/1770_wob_woman.html">Non-interactive, printable version of this activity</a></p>

            <P>Note for Safari Users: to enable audio, from the menu bar at the top of your screen select "Safari > Settings for This Website > Auto-Play > Allow All Auto-Play".</p>

            <!-- begin html5 insert -->
            <div id="app" class="dressup-wrapper">

              <nav>
                <ul>
                  <li class="layer-title">
                    {{ dressup.layers[layerIndex].layerName }}
                  </li>
                  
                  <li>
                    <svg width="104" height="22" viewbox="0 0 104 23">
                      <a href="previous-layer" @click.prevent="prevLayer()">
                        <g 
                          class="prev-button"
                          :class="{ buttondisabled: !prevExists}"
                          >
                          <path d="M93.12,22.5H11.71l-11-11h0l11-11H93.12a11,11,0,0,1,11,11v0A11,11,0,0,1,93.12,22.5Z" />
                          <text transform="translate(8.06 14.33)">Previous Layer</text>
                        </g>
                      </a>
                    </svg>
                  </li>

                  <li>
                    <svg width="104" height="22" viewbox="0 0 104 23">
                      <a href="next-layer" @click.prevent="nextLayer()">
                        <g 
                          class="next-button"
                          :class="{ buttondisabled: !nextExists}"
                          >
                          <path d="M92.9,22.5H11.49a11,11,0,0,1-11-11v0a11,11,0,0,1,11-11H92.9l11,11h0Z" />
                          <text transform="translate(18.25 14.33)">Next Layer</text>
                        </g>
                      </a>
                    </svg>
                  </li>
                  
                  <li>

                    <!-- On Button -->
                    <a 
                      v-if="audioOn"
                      href="#" 
                      @click.prevent="toggleAudio">
                      <svg width="25" height="25" viewbox="0 0 26 26">
                        <g id="audio-on" class="audio-button">
                          <circle cx="13" cy="13" r="12.5" stroke-miterlimit="10" stroke="#cfdaf0"/>
                          <!--speaker-->
                          <path d="M12.5,20.47l-5-4.66H4.25V9.51h3.2L12.5,4.84Z" stroke="#cfdaf0" fill="#cfdaf0"/>
                          <!--sound waves-->
                          <path d="M14.61,5.31a7.23,7.23,0,1,1,0,14.46" stroke="#cfdaf0" />
                          <path d="M14.61,8.15a4.4,4.4,0,0,1,0,8.79" stroke="#cfdaf0"/>
                        </g>
                      </svg>                         
                    </a>
                    <a 
                      v-else
                      href="#" 
                      @click.prevent="toggleAudio">
                      <svg width="25" height="25" viewbox="0 0 26 26">
                        <g id="audio-off" class="audio-button">
                          <circle cx="13" cy="13" r="12.5" stroke-miterlimit="10" stroke="#cfdaf0"/>
                          <!--speaker-->                          
                          <path d="M12.5,20.47l-5-4.66H4.25V9.51h3.2L12.5,4.84Z" stroke="#cfdaf0" fill="#cfdaf0"/>
                          <!--sound waves-->
                          <path d="M14.61,5.31a7.23,7.23,0,1,1,0,14.46" stroke="#cfdaf0"/>
                          <path d="M14.61,8.15a4.4,4.4,0,0,1,0,8.79" stroke="#cfdaf0"/>
                          <!--slash-->
                          <line x1="21.91" y1="3.49" x2="3.56" y2="21.84" stroke="#cfdaf0" stroke-width="1.5"/>
                        </g>
                      </svg>
                    </a>

                  </li>

                </ul>
              </nav>

              <svg 
                class="dressup-base" 
                version="1.1" 
                xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" 
                x="0px" y="0px"
                :view-box.camel="'0 0 ' + dressup.info.viewBoxWidth + ' 2000'" 
                xml:space="preserve">
              
                <!-- Hotspots -->
                <g v-for="(layer, index) in dressup.layers" :key="index">
                  <g v-if="layerIndex === index">                 
                    <image 
                      style="overflow:visible;" 
                      :width="dressup.info.viewBoxWidth" 
                      height="2000" 
                      :xlink:href="'html5/' + dressup.info.personPath + '/images/layer-' + (index + 1) + '.jpg'" 
                      @mouseover="showPop('none')"
                      >
                    </image>

                    <g
                      v-for="hotSpot in dressup.layers[index].popItems" 
                      :key="hotSpot.shortName">
                      <path 
                        class="hotspot"
                        :class="{ hotspoton: shortName === hotSpot.shortName }"
                        @mouseover="showPop(hotSpot.shortName)"
                        :d="hotSpot.svg"
                        />
                    </g>
                  </g>
                </g>

              </svg>

              <!-- Popups  -->
              <div v-for="(layer, index) in dressup.layers" :key="index">
                <div
                  v-for="popup in dressup.layers[index].popItems" :key="popup.shortName">
                   <div 
                    v-if="shortName === popup.shortName"
                    class="dressup-pop"
                    :class="popup.class"
                    >
                    <img 
                      v-if="popup.hasImage"
                      :src="'html5/' + dressup.info.personPath + '/images/' + popup.shortName + '.jpg'" :alt="popup.shortName">
                    <h2 v-html="popup.title" ></h2>
                    <p v-html="popup.blurb"></p>
                  </div>
                </div>               
              </div>

            </div><!-- end dressup-wrapper  -->
            <script src="json/1770_wob_woman.json" type="text/javascript"></script>
            <script src="js/dressup.js" type="text/javascript"></script>
            <!-- end html5 instert -->

<!--         <TABLE border="0" cellspacing="0" cellpadding="1" width="200">
              <TR bgcolor="#CCCC99">
                <TD>
                  <P><STRONG>See Also...</STRONG></P>
                </TD>
              </TR>
              <TR>
                <TD class="bodytext">
                  <P><A href="../../collection/itempage.jsp?itemid=15806">Dress</A></P>
                  <P><A href="../../collection/itempage.jsp?itemid=11607">Reticule</A></P>
                  <P><A href="../../collection/itempage.jsp?itemid=5580">New Home Sewing Machine Company Birds-Eye View</A></P>
                </TD>
              </TR>
            </TABLE> -->
            <P>&nbsp;</P>
            <P><A href="#top">top of page</A></P>
          </TD>
        </TR>
      </TABLE>
      <BR><!-- #BeginLibraryItem "/Library/utilities.lbi" --><table border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td> <a href="javascript:popupWindow('/sidebyside.html')"><img src="../../images/util_sidebyside.gif" width="149" height="19" border="0" alt="button for Side by Side Viewing"></a><a href="javascript:popupWindow('/glossary.jsp')"><img src="../../images/util_glossary.gif" width="74" height="19" border="0" alt="button for Glossary"></a><a href="javascript:popupWindow('/print_help.html')"><img src="../../images/util_printhelp.gif" width="101" height="19" border="0" alt="button for Printing Help"></a><a href="javascript:popupWindow('/how_to_read.html')"><img src="../../images/util_olddocs.gif" width="202" height="19" border="0" alt="button for How to Read Old Documents"></a> </td>
  </tr>
</table>
<!-- #EndLibraryItem --><!-- #BeginLibraryItem "/Library/navbar.lbi" --><p>&nbsp;</p>
<p align="center" class="btm_nav"><a href="../../home.html">Home</a> | <a href="../../collection/index.html">Online Collection</a> | <a href="../index.html">Things
    To Do </a> | <a href="../../turns/index.jsp">Turns
    Exhibit</a> | <a href="../../classroom/index.html">Classroom</a> | <a href="../../chronology/make_chronology.jsp">Chronologies</a> | <a href="../../mycollection/show.do">My
    Collection</a><br>
  <a href="../../about/index.html">About This Site</a> | <a href="../../utilities/site_index.html">Site Index</a> | <a href="../../search/search.cgi">Site Search</a> | <a href="../../feedback.html">Feedback</a></p>
<!-- #EndLibraryItem --></TD>
  </TR>
</TABLE>
</BODY>
</HTML>