/* styles for HTML5 interactive scenes */
#scene-app {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.scene-wrapper {
	width: 800px;
	overflow: auto;
	background-color: white;
}

.scene-image	{
	float: left;
	padding: 0;
	width: 70%;
}

.scene-image img {
	max-width: 100%;
}

.scene-text	{
	float: right;
	padding: 1%;
	width: 28%;
}

.scene-related {
	clear: left;
	padding: 2%;
	width: 68%;
}

.icons {
	float: left;
	margin-right: 0.5em;
}

.tabs	{
	list-style-type: none;
	padding-left: 0;
}

.tabs li {
	display: inline;
	padding-right: 10px;
}

.tabs li a {
	background-color: #660000;
	padding: 2px;
}

.tab-text {
	height: 380px;
	overflow-y: scroll;
	background-color: beige;
}

/* hotspots */
.hotspot {
	fill: #FFF;
	fill-opacity: 0.0;
}
.hotspoton {
	fill: #CC3333;
	fill-opacity: 0.35;
}

/* spotlights/masks */
.tab-mask {
	fill: #000;
	fill-opacity: 0.7;
}

.pop-text {
	color: #660000;
	height: 40px;
}

.pop-menu {
	list-style-type: none;
}

.pop-menu li {
	display: inline;
	margin-right: 2em;
}

.pop-menu li a {
	color: brown;
	background-color: #CC9900;
	padding: 0.25em 1.5em;
}