/* styles for HTML5 interactive scenes */
#scene-app {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

#scene-app a:link, #scene-app a:visited {
	color: #660000;
}

#scene-app a:hover, #scene-app a:active {
	color: brown;
}

.scene-wrapper {
	width: 800px;
	overflow: auto;
	background-image: url("../scenes/html5images/bkgrnd_sand.jpg");
}

.scene-image	{
	float: left;
	padding: 0;
	width: 70%;
}

.scene-image img {
	max-width: 100%;
}

.scene-text	{
	float: right;
	padding: 1%;
	width: 28%;
}

.tabs	{
	list-style-type: none;
	padding-left: 0;
}

.tabs li {
	display: inline;
	padding-right: 10px;
}

.tabs li a {
	background-color: beige;
	border: 1px solid rgb(204, 153, 51);
	padding: 0.25em;
}

.tab-text {
	height: 380px;
	overflow-y: scroll;
	background-color: beige;
}

.scene-related {
	clear: left;
	padding: 1% 2%;
	width: 68%;
}

.icons {
	float: left;
	margin-right: 2%;
	width: 15%;
}

.relateds {
	margin-left: 17%;
}

/* hotspots */
.hotspot {
	fill: #FFF;
	fill-opacity: 0.0;
}
.hotspoton {
	fill: #CC3333;
	fill-opacity: 0.35;
}

/* spotlights/masks */
.tab-mask {
	fill: #000;
	fill-opacity: 0.7;
}

/* hotspot text */
.pop-text {
	border: 1px solid rgb(204, 153, 51);
	color: #660000;
	height: 60px;
	margin-bottom: 3px;
}

/* popup menus */
ul.pop-menu {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

ul.pop-menu li {
	background-color: beige;
	border: 1px solid rgb(204, 153, 51);
	display: inline-block;
	margin-top: 0;
	padding: 0.25em 2em 0.25em 0.5em;
	position: relative;
	width: 18.4%;
}

ul.pop-menu li a {
	color: brown;
}

/* popup sub-menus */
ul.pop-menu li ul {
	position: absolute;
	bottom: 2.25em;
	left: -4.15em;
}

ul.pop-menu li ul li {
	display: inline-block;
	margin: 1px;
	width: 160px;
}
